.container{
    background-color: #000000;
    color: #ffff;
    height: 40px;

    & ul{
        list-style: none;
        & li{
            display: inline;
            padding: 0 10%;
        }
    }
}